<html>
  <% if flash[:notice] %>
       <p class="notice">
         <%= flash[:notice]%>
       </p>
    <% end %>
  <body>
    <p id="notice"></p>
    <p>
      <strong>Title</strong>
      "<%= @book.title %>"
    </p>
    <p>
      <strong>body</strong>
      "<%= @book.body %>"
    </p>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    |
    <%= link_to "Back", books_path %>
  </body>
</html>